body{
	margin: 0;
	background-color: #21618C;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: white;
	line-height: 26px;
}

header{
	max-width: 800px;
	margin: 0 auto;
	background-color: #212F3D;
	padding: 20px;
	padding-top: 20px;
}

header h1{
	color: white;
	font-size: 60px;
}

header h4{
	color: #21618C;
	font-size: 24px;
}

header img{
	border-radius: 200px;
	width: 200px;
	border: 5px solid #212F3D;
}

main{
	max-width: 800px;
	margin: 0 auto;
	background-color: #212F3D;
	padding: 20px;
}

h1{
	color: white;
	font-size: 60px;
}

h2{
	color: #7D3C98;
	font-size: 40px;
}

p{
	color: white;
	font-size: 20px;
}

a{
	color: #5499C7;
}
a:hover{
	color: #85C1E9;
}

footer{
	max-width: 800px;
	margin: 0 auto;
	background-color: #212F3D;
	text-align: center;
	padding: 20px;
}