body{
	margin: 0;
	background-color: #413174;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
	color: white;
	line-height: 26px;
}


header{
	max-width: 900px;
	margin: 0 auto;
	background-color: #413174;
	padding: 20px;
	padding-top: 20px;
}


header img{
	border-radius: 200px;
	width: 150px;
	border: 5px solid #212F3D;
}

nav{
	max-width: 900px;
	margin: 0 auto;
	background-color: #232f33;
	padding: 20px;
	padding-top: 5px;
	height: 60px;
	position: sticky;
	top: 0;
}

.logo{
	display: block;
	width: 300px;
	height: 0px;
	text-decoration: none;
}

nav h1{
	color: #e0dfd7;
	font-size: 50px;
}

nav ul{
	padding: 0;
	margin: 0;
}


nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	font-size: 20px;
	text-transform: uppercase;
	color: #e0dfd7;
	text-decoration: none;
	padding: 5px;	
}



main{
	max-width: 900px;
	margin: 0 auto;
	background-color: #232f33;
	padding: 20px;
	padding-top: 5px;
}

h1{
	color: white;
	font-size: 60px;

}

h2{
	color: #b783fb;
	font-size: 40px;
	margin-top: 10px;
}

h4{
	color: #b783fb;
	font-size: 24px;
}


p{
	color: white;
	font-size: 20px;
}

a{
	color: #b783fb;
}
a:hover{
	color: #85C1E9;
}

.box1{
	background-color: #212F3D;
	padding: 10px;
	border: solid 2px darkgrey;
	border-radius: 30px;
	}	


main img{
	border-radius: 20px;
	width: 180px;
	border: 2px solid darkgrey;
	margin-left: 5px;
}

.button1{
	font-size: 20px;
	color: white;
	background: #b783fb;
	padding: 10px;
	border: solid 2px #413174;
	display: inline-block;
	border-radius: 20px;
	text-decoration: none;
}


footer{
	max-width: 900px;
	margin: 0 auto;
	background-color: #232f33;
	text-align: center;
	padding: 20px;
}